@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html{
    scroll-behavior: smooth;
    outline: none;
}
body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-image:url("/images/dark-pokemon-wallpaper.png");
    background-size: 1000px;
    background-repeat: repeat;
    /* overflow: hidden; */
}
.anchors{
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}
button{
    outline: none;
    border: none;
    font: inherit;
}
textarea:focus,input:focus,button:focus{
    outline: none;
}
header{
    z-index: 2;
    width: 100%;
    padding: 15px 30px 15px 15px;
    top: 0px;
    /* background-color: DodgerBlue; */
    background-color: #7f2de9;
    color: black;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-icon{
    display: flex;
    flex-direction: row;
    float: left;
    position: absolute;
}
.header-icon img{
    margin-top: -13px;
    margin-right: 5px;
    height: 65px;
}
.header-icon h1{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: rgb(255,186,65);
    text-shadow: 0px 2px 3px #000;
}
header .search-bar{
    width: fit-content;
    margin-right: 50px;
    float: right;
}
.search-bar #searchInput{
    font: inherit;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: inline-block;
    width: 300px;
    padding: 10px 20px;
    margin-right: -5px;
    border: 0px;
    box-shadow: inset 0 0 3px #000000;
}
/* Auto Complete Search */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.autocomplete-items{
    position: absolute;
    z-index: 3;
}
.autocomplete-items div {
    width: 200px;
    padding: 10px;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #1e87dd;
    color: white;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
/* End of autocomplete */
.search-bar #searchSubmit{
    font: inherit;
    display: inline-block;
    color: rgb(255, 255, 255);
    border: 0px;
    padding: 10px 20px;
    background-color: rgb(202, 23, 23);
    width: 100px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 0.5s;
}
.search-bar #searchSubmit:hover{
    transition: 0.5s;
    background-color: rgb(34, 184, 72);
}
.search-bar #searchSubmit:active{
    transition: 0.05s;
    box-shadow: inset 0 0 10px #000000;
}
header .links{
    position: absolute;
    margin-top: 56px;
}
header a{
    transition: 0.5s;
    margin: 0px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 15px 30px;
    background-color: #cc0033;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header a:first-child{
    border-bottom-left-radius: 25px;
}
header a:last-child{
    border-bottom-right-radius: 25px;
}
header a:hover{
    padding: 15px 35px;
    transition: 0.1s;
    background-color: rgb(235, 149, 0);
    font-weight: bolder;
}
header a:active{
    padding: 18px 38px;
    transition: 0.01s;
    background-color: rgb(167, 115, 26);
    font-size: 12px;
    box-shadow: inset 0 0 10px #000000;
}
#back-to-top{
    z-index: 2;
    position: fixed;
    bottom: 30px; right: 30px;
}
#back-to-top img{
    padding: 10px;
    border-radius: 100%;
    background-color: #ffffff;
    width: 35px;
    transition: 0.5s;
}
#back-to-top img:hover{
    transition: 0.1s;
    transform: scale(1.1);
    background-color: rgb(255, 187, 71);
}
#back-to-top img:active{
    transition: 0.1s;
    transform: scale(0.9);
    background-color: rgb(235, 149, 0);
}
.main-content{
    margin: 200px 10px;
    text-align: center;
}
.main-content .intro{
    margin: 215px auto 75px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-around;
    /* background-color: rgb(255, 255, 255); */
    background-image: url("https://media.giphy.com/media/9JxkPTP3alOykb8PmQ/giphy.gif");
    background-position: center;
    background-size: 105%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.664);
    width: 600px;
    padding: 40px 0px;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-content .intro img{
    display: block;
    margin: auto;
    flex-basis: 25%;
}
#pokemon-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon-card{
    transition: 0.75s;
    margin: 30px;
    padding: 30px 10px 15px;
    border-radius: 25px;
    text-align: center;
    width: 235px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.253);
}
.pokemon-card .img-container{
    margin: auto;
    margin-top: 25px;
    height: 100px;
    width: 100px;
}
.pokemon-card img{
    display: block;
    margin: auto;
}
.pokemon-card h1{
    color: DodgerBlue;
}
.pokemon-card p{
    font-weight: bold;
    color: rgb(105, 105, 105);
}
.pokemon-card .details{
    border: 0px;
    margin: 15px 0px;
    width: 150px;
    height: 50px;
    background-color: rgb(204, 0, 0);
    color: white;
    padding: 10px 25px;
    border-radius: 3px;
    transition: 0.3s;
}
.pokemon-card .details:hover{
    transition: 0.1s;
    transform: scale(1.05);
}
.pokemon-card .details:active{
    transition: 0.05s;
    transform: scale(0.95);
    box-shadow: inset 0 0 10px #000000;
}
.pokemon-card:hover{
    transition: 0.25s;
    background-color: rgb(255, 255, 255);
    margin-top: -15px;
}

/* POKEMON TYPES STYLE */
.null{opacity: 0;}
.normal{background-color: gray;}
.fire{background-color: orangered;}
.water{background-color: #1e87dd;}
.electric{background-color: rgb(246, 250, 20); color: black;}
.grass{background-color: rgb(27, 189, 22);}
.ice{background-color: rgb(87, 204, 224);}
.fighting{background-color: rgb(165, 25, 25);}
.poison{background-color: rgb(170, 21, 170);}
.ground{background-color: rgb(223, 167, 95);}
.flying{background-color: rgb(145, 123, 197);}
.psychic{background-color: rgb(255, 71, 240);}
.bug{background-color: rgb(131, 131, 61);}
.rock{background-color: rgb(149, 97, 33);}
.ghost{background-color: rgb(69, 44, 87);}
.dragon{background-color: #1e31dd;}
.dark{background-color: rgb(53, 42, 42);}
.steel{background-color: rgb(195, 195, 195);}
.fairy{background-color: rgb(255, 180, 239);}

/* DETAILS ON CLICK CARD */
.details-card{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.65); /* Black w/ opacity */
}
#close-details-card{
    margin-top: 20px;
    background-color: #7e0d0d;
    color: white;
    border-radius: 5px;
    padding: 20px 0px;
    font-weight: bolder;
    font-size: 18px;
    flex-basis: 100%;
}
#close-details-card:hover{
    background-color: #ff0000;
}
.details-card .details-content{
    background-image:url("/images/emerald-wallpaper.png");
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 600px;
    margin: 200px auto;
    border-radius: 15px;
}
.details-content p{
    color: rgb(180, 180, 180);
}
.top-description{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.80);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px;
    flex-basis: 100%;
}
.top-description img {
    display: block;
    margin: 30px auto 15px;
    width: 150px;
    height: auto;
}
.bottom-description{
    background-color: rgba(0, 0, 0, 0.80);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-basis: 100%;
    height: 500px;
    padding: 30px;
}
.top-description .type{
    font-size: 12px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 12px;
    border-radius: 3px;
}

.about{
    height: 500px;
    padding: 150px 0px;
    background-image: url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif");
    background-size: cover;
    text-align: center;
}

.about div{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 350px;
    margin: auto;
}

footer {
    height: fit-content;
    padding: 15%;
    background-image: url("/images/emerald-wallpaper.png");
    background-size: cover;
    background-position: bottom;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.411);
}
footer span{
    font-size: 42px;
    color: #ff0000;
    text-shadow: none;
    letter-spacing: 10px;
}
footer img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 800px;
    display: block;
    margin: auto;
}